<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392108159424-jndk2d0uincel6qcnqphesmghc4ksgrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392108159424-jndk2d0uincel6qcnqphesmghc4ksgrj</string>
	<key>API_KEY</key>
	<string>AIzaSyCAUcBEJccjtGnI8vemlewaJvHQZfTqdF8</string>
	<key>GCM_SENDER_ID</key>
	<string>392108159424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DmitrySokoltsov.PushNotification</string>
	<key>PROJECT_ID</key>
	<string>push-notification-13838</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-13838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392108159424:ios:482a3d73317dc244375825</string>
</dict>
</plist>